<div
  class="sub-menu"
  [style.maxHeight]="maxHeight + 'px'"
  (scroll)="showSubMenu = false"
>
  <div
    class="sub-menu__item"
    *ngFor="let item of dataSource; let i = index"
    [class.active]="value == item[valueField]"
    (click)="toggleSubMenu($event, item, i)"
  >
    {{ item[displayField] }}
    <div *ngIf="!isEmptyArray(item[childrenField])">></div>
  </div>
  <div
    *ngIf="showSubMenu"
    #popover
    class="sub-menu__popover"
    [style.top]="popoverPosition.top"
    [style.left]="popoverPosition.left"
    [style.right]="popoverPosition.right"
  >
    <app-sub-menu
      [dataSource]="dataSourceItem"
      [maxHeight]="maxHeight"
      [position]="position"
      (optionChange)="optionChange.emit($event); showSubMenu = false"
    ></app-sub-menu>
  </div>
</div>
