<div #multiMenu class="multi-level-menu">
  <div
    class="multi-level-menu__item"
    *ngFor="let item of dataSource; let i = index"
    [class.active]="i == 0"
    [style.visibility]="i <= visibleIndex ? 'visible' : 'hidden'"
    (click)="toggleSubMenu($event, item, i)"
  >
    {{ item[displayField] }}
    <div *ngIf="!isEmptyArray(item[childrenField])">></div>
  </div>
  <div
    *ngIf="showSubMenu"
    #popover
    class="multi-level-menu__popover"
    [style.top]="positionPopover.top"
    [style.left]="positionPopover.left"
    [style.right]="positionPopover.right"
  >
    <app-sub-menu
      [dataSource]="dataSourceItem"
      [maxHeight]="maxHeight"
      [position]="positionSubMenu"
      (optionChange)="optionChange.emit($event); showSubMenu = false"
    ></app-sub-menu>
  </div>

  <div
    id="multi-level-menu__other"
    class="multi-level-menu__other"
    [style.left]="offsetOther"
    *ngIf="visibleIndex < dataSource.length - 1"
    (click)="toggleSubMenu($event, null, -1)"
  >
    Khác >
  </div>
</div>
