<div #multiMenu class="multi-level-menu">
  <div
    class="multi-level-menu__item"
    *ngFor="let item of dataSource; let i = index"
    [class.active]="i == 0"
    [style.visibility]="i <= visibleIndex ? 'visible' : 'hidden'"
  >
    {{ item[displayField] }}
  </div>
  <div
    id="multi-level-menu__other"
    class="multi-level-menu__other"
    [style.left]="offsetOther"
  >
    Khác >
    <div class="multi-level-menu__other-list">
      <div
        class="multi-level-menu__other-item"
        *ngFor="let item of dataSource.slice(visibleIndex)"
      >
        {{ item[displayField] }}
      </div>
    </div>
  </div>
</div>
